@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  height: 100%;
  @apply bg-gray-50;
}

input {
  @apply px-2 py-1 border border-gray-300 rounded-md;
}

.fc-header-toolbar {
  display: inline-block;
  padding: 4px;
}

.fc-day {
  @apply m-8;
}

.fc-scrollgrid-sync-table {
  @apply w-full;
}

.fc-view {
  @apply w-full h-full lg:h-3/4 bg-white;
}

.fc-h-event {
  @apply bg-violet-500 border border-violet-600;
}

.fc .fc-daygrid-day .gc-day-today {
  @apply bg-violet-100;
}

.fc .fc-button {
  @apply bg-violet-800 hover:bg-violet-900;
}

.fc .fc-button-primary:not(:disabled).fc-button-active {
  @apply bg-violet-600;
}

.fc .fc-button-primary:disabled {
  @apply bg-violet-600
}

.fc-v-event {
  @apply bg-violet-500 border border-violet-600;
}
